Provide option to make returned domain names properly rooted

When requesting IN NS . from any of the root nameservers the returned response lists the nameservers as a.root-servers.net (without the trailing dot).

While technically this is commonly accepted it's not always correct; in particular if the resolver has a search domain set and thus would resolve subsequent requests relative to its search domain.

It would thus be nice to have an option for the resolver to force all response names to be properly rooted.

I'm not sure what you mean.

The returned response for that query, would be an array of Net_DNS2_RR_NS objects, one for each NS server for the root zone. Each object would have a nsdname value with the hostname of the DNS server.

The search domain is only used for creating the initial search query string- it wouldn't be appended to the response nsdname values.

You can submit a pull request too to illustrate what you mean.

Mike

Sure. It won't be appened to the response nsdname values, but subsequent requests might mistakenly interpret it as relative. Cf. RFC 1035 chapter 5.1 paragraph 6:

> Domain names that end in a dot are called absolute, and are taken as complete.  Domain names which do not end in a dot are called relative; the actual domain name is the concatenation of the relative part with an origin specified in a $ORIGIN, $INCLUDE, or as an argument to the master file loading routine.  A relative name is an error when no origin is available.

Basically what such an option would do is ensure that all fields carrying domain names returned absolut ones (if the option is enabled). I'll look into writing up a patch for this.

Looking through the source it appears the cleanString method in Net_DNS2_RR might be a good candidate to implement this:

- Extend the signature to take an optional argument bool absolute
- Make this argument have default value false
- If provided with absolute = true make the returned value include a trailing dot as per RFC 1035 section 5.1.
- Instead of bool absolute you could also to a namestyle parameter (default = current behaviour) and have options "explicit trailing dot", "force no trailing dot" and "make this depend on global settings"

While looking through the source I noticed even now some RR do this even now (each on their own), like CNAME and DNAME records when formating as string (rrToString method).

This isn't correct. If you read the RFC, section 5 is all about "master files" i.e. zone files. This is talking about how to properly represent DNS entries in master zone file. The "." and $ORIGIN values are used so that you don't need to continually repeat the same domain name in a single zone file.

This doesn't relate to the wire format. Adding periods to the values returned by the resolver wouldn't be right, as they have nothing to do with the master file format.

Yes, the RR's have a rrToString() method that you can use to display the output, but this format is always fully qualified (as so is the wire format responses), and is not meant it any way to be used a zone file format.

There are other PHP libraries that build DNS zone file formats- this library does not- it's just a resolver.

Mike