Query for 'A' record returning 'CNAME' in addition to 'A'

I was troubleshooting some code and noticed that even though I explicitly asked for an `A` record, the response is returning both the `CNAME` and the `A` record it ultimately points to. I'm not sure if this is intended. I certainly would not have expected that result, hence the bug report.

I just wanted to point it out, and see if anyone has any thoughts. For now, I'll just workaround it in my code.

Thanks

Hi @laszlof 

Are you seeing this in the "additional" section of the response? If so, that's normal. Some resolvers will return the extra data (the A address of a CNAME / MX / NS record resolve to, etc.), so that you don't need to make an additional request to look up the name. Not all resolvers do this though.

If that's no what you meant, then please provide some sample code and I can take a look.

Mike

Seeing it in the answer section. See below for example:

```
php > $dns = new \Net_DNS2_Resolver(['cache_type' => 'none']);
php > $results = $dns->query('testing3.flaszlo.nxswd.net', 'A');
php > var_dump($results->answer);
array(2) {
  [0]=>
  object(Net_DNS2_RR_CNAME)#165 (7) {
    ["cname"]=>
    string(27) "cloudhost.flaszlo.nxswd.net"
    ["name"]=>
    string(26) "testing3.flaszlo.nxswd.net"
    ["type"]=>
    string(5) "CNAME"
    ["class"]=>
    string(2) "IN"
    ["ttl"]=>
    int(281)
    ["rdlength"]=>
    int(12)
    ["rdata"]=>
    string(12) "	cloudhost?"
  }
  [1]=>
  object(Net_DNS2_RR_A)#166 (7) {
    ["address"]=>
    string(13) "207.32.181.29"
    ["name"]=>
    string(27) "cloudhost.flaszlo.nxswd.net"
    ["type"]=>
    string(1) "A"
    ["class"]=>
    string(2) "IN"
    ["ttl"]=>
    int(281)
    ["rdlength"]=>
    int(4)
    ["rdata"]=>
    string(4) "? ?"
  }
}

```

I realize this is what the low level DNS resolver is returning for the `answer` section, but I doubt it unexpected when I was explicitly asking for an 'A' record. It may be surprising for someone who does not fully understand DNS.

Right, I see.

Yes- this is an (arguably) weird thing that DNS does; in RFC1034 section 3.6.2:

> CNAME RRs cause special action in DNS software.  When a name server
> fails to find a desired RR in the resource set associated with the
> domain name, it checks to see if the resource set consists of a CNAME
> record with a matching class.  If so, the name server includes the CNAME
> record in the response and restarts the query at the domain name
> specified in the data field of the CNAME record.

So if you have a CNAME record for a host (testing3.flaszlo.nxswd.net), and you do a CNAME lookup, then you'll get a single response:

```
[root@infected net_dns]# host -t CNAME testing3.flaszlo.nxswd.net
testing3.flaszlo.nxswd.net is an alias for cloudhost.flaszlo.nxswd.net.
```

but if you do a A lookup, and there is no A record, just CNAME, then it will check to see if there is a CNAME with the same name, and return that, along with the A record it points to:

```
[root@infected net_dns]# host -t A testing3.flaszlo.nxswd.net
testing3.flaszlo.nxswd.net is an alias for cloudhost.flaszlo.nxswd.net.
cloudhost.flaszlo.nxswd.net has address 207.32.181.29
```

There is a "strict_query_mode" option in Net_DNS2 to exclude this response, and return an error, in the event the A record doesn't exist:

`$dns = new \Net_DNS2_Resolver(['cache_type' => 'none', 'strict_query_mode' => false]);`

It doesn't stop the resolver from returning the data, it just stops Net_DNS2 from returning it to your application.

Mike

Yeah, thats what I figured. I just wanted to talk it out to make sure its what was expected from the lib. 

Thanks for the follow up!